asgiref==3.11.1
charset-normalizer==3.4.4
Django==4.2.1
dnspython==2.8.0
email-validator==2.3.0
et_xmlfile==2.0.0
idna==3.11
openpyxl==3.1.5
pillow==12.1.1
python-decouple==3.8
reportlab==4.4.10
sqlparse==0.5.5
tzdata==2025.3
gunicorn==22.0.0
