{% extends 'superclass/base.html' %}

{% block content %}
  {# 面包屑 #}
  <div class="row mt-3">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="">设置</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">上传头像</li>
        </ol>
      </nav>
    </div>
  </div>

  {# 操作区 #}
  <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <img src="" alt="" id="preview" class="img-thumbnail mb-3" style="max-width: 200px; max-height: 200px;">
                <form action="{% url 'authentication:upload_avatar' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input  type="file" id="avatar" name="avatar" accept="image/*" required>
                    </div>
                    <button type="submit" class="btn btn-primary">保存</button>
                </form>
            </div>
        </div>
    </div>
  </div>
{% endblock %}


{% block js %}
    <script>
        const avatarInput = document.querySelector('#avatar')
        const previewImg = document.querySelector('#preview') // 头像展示组件
        const Imgurl = "/media/{{ request.user.userinfo.avatar}}";

        previewImg.style.display = 'none'; // 初始状态隐藏图片
        if (Imgurl) {
            previewImg.src = Imgurl;
            previewImg.style.display = 'block'; // 展示头像
        }

        // 当用户点击“选择文件”按钮并成功选择了一张图片后，立即在页面上显示这张图片的预览图。
        avatarInput.addEventListener('change', function(){
            var file = this.files[0];
            var reader = new FileReader();
            reader.addEventListener('load', function(){
                previewImg.src = reader.result;
                previewImg.style.display = 'block';
            })
            reader.readAsDataURL(file);
        })

    </script>
{% endblock  %}